# Function in Tuple
* len()

* max()

* min()

* sum()

* sorted()

* any()

* all()

* tuple()

# Methods for tuple

* append()   # it won't work


*  extend()  # it won't work


* insert()   # it won't work


* count()    #work



* index()    #work



* clear()    # it won't work


* pop()      # it won't work



* remove()  # it won't work


* sort()    #work


* reverse() #work

In [7]:
my_tuple=(1,3,4.5,6.5,9,0,11,8)

print(my_tuple)
print(len(my_tuple))
print(max(my_tuple))
print(min(my_tuple))
print(sum(my_tuple))
print(sorted(my_tuple))
print(sorted(my_tuple, reverse = True))
print(any(my_tuple))  #atleast one element should be true
print(all(my_tuple))  #all element should be true
print(my_tuple.index(9))
print(my_tuple.count(3))

(1, 3, 4.5, 6.5, 9, 0, 11, 8)
8
11
0
43.0
[0, 1, 3, 4.5, 6.5, 8, 9, 11]
[11, 9, 8, 6.5, 4.5, 3, 1, 0]
True
False

In [15]:
#M embership operator in and not in works with tuple

print(1 in my_tuple)
print(100 not in my_tuple)
print(100 in my_tuple)

True
True
False

In [20]:
#Concatenation
tup1 = (1,2,3)
tup2= ("a","b","c","d")
tup3 = tup1+tup2
print(tup3)
print("\n")
print(id(tup1))
print(id(tup2))
print(id(tup1+tup2))

(1, 2, 3, 'a', 'b', 'c', 'd')


2166951502720
2166951661792
2166951728512

In [24]:
#multiplication of element

x = (1,2,3)
print(id(x))
print(id(x*3))

2166951919488
2166951936064

In [28]:
# Relational operators

x = (2,3,4,5)
y = (2,3,4,5)

print(x==y)
print(x < y)

True
False

In [8]:
tuple("python")

('p', 'y', 't', 'h', 'o', 'n')

In [9]:
#change list into tuple
tuple([1,2,4,5,"xyz"])

(1, 2, 4, 5, 'xyz')

# set

* we can not keep duplicate value

* we can not use subscript operator(we can not do indexing as well as slicing)

* set is unordered collection.

* set = {} --> empty set

# Function in Set

* add()

* clear()

* copy()

* pop() 

* remove() 

* update()

In [1]:
my_set = {1,2,3,"a","b","c"}
print(my_set)

{'a', 1, 2, 3, 'c', 'b'}

In [13]:
#add() function
my_set = {1,2,3,"a","b","c"}

my_set.add(10)
my_set.add("10")
print(my_set)

{'a', 1, 2, 3, 'c', '10', 10, 'b'}

In [14]:
my_set = {1,2,3,"a","b","c"}
my_set.clear()
print(my_set)

set()

In [15]:
my_set = {1,2,3,"a","b","c"}

my_set.copy()

{1, 2, 3, 'a', 'b', 'c'}

In [2]:
# Can pass any iterable to this set funciton set()
set([1,2,3,"python",99.99])

{1, 2, 3, 99.99, 'python'}