# Empty List

mylist = [ ]

* Represent list with square bracket.

In [1]:
mylist = []

In [2]:
mylist

[]

In [3]:
#Check type
type(mylist)

list

In [4]:
#list With different DataTypes
mylist=[0,"python",[1,2,"py"],0.5]
mylist

[0, 'python', [1, 2, 'py'], 0.5]

In [5]:
# check data type 
number = 10 
number1 = '10'
number2 = 10.5

print(type(number))
print(type(number1))
print(type(number2))

<class 'int'>
<class 'str'>
<class 'float'>

In [6]:
#int  object is not iterable
list(10)

TypeError: 'int' object is not iterable

In [8]:
list("Python")

['P', 'y', 't', 'h', 'o', 'n']

In [9]:
list((10,20,30))

[10, 20, 30]

In [7]:
mylist=[1,2,3,"Python List",10.5,"Hello World",[10,"python",0.5]]

#access list element
print(mylist[3])
print(mylist[1])
print(mylist[-1])
print(mylist[2:4])
print(mylist[-3])
print(mylist[:2])
print(mylist[2:])
print(mylist[:-2])

Python List
2
[10, 'python', 0.5]
[3, 'Python List']
10.5
[1, 2]
[3, 'Python List', 10.5, 'Hello World', [10, 'python', 0.5]]
[1, 2, 3, 'Python List', 10.5]

In [10]:
#Modify the existing element
sports=["football","cricket","volleyball"]

print(sports)
sports[1] = "hockey"
print(sports)

sports[1:3]=["basketball","tennis"] # slicing  operator for multiple values
print(sports)

['football', 'cricket', 'volleyball']
['football', 'hockey', 'volleyball']
['football', 'basketball', 'tennis']

In [18]:
#Concating the list 

sport1 = ["football","cricket","volleyball"]
sport2 = ["carrom","ludo","chess","cricket", "football"]

print(sport1)
print(sport2)
print("\n")

sports = sport1 + sport2
print(sports)
print("\n")

# -->> LIST SUPPORT DUPLICATE VALUES

sports = sports + list(["hockey"]) # adding element in list
print(sports)
print("\n")

#sports+["baseball"]
#print(sports)

#sports*3
#print(sports)

['football', 'cricket', 'volleyball']
['carrom', 'ludo', 'chess', 'cricket', 'football']


['football', 'cricket', 'volleyball', 'carrom', 'ludo', 'chess', 'cricket', 'football']


['football', 'cricket', 'volleyball', 'carrom', 'ludo', 'chess', 'cricket', 'football', 'hockey']

In [27]:
# Membership Opertor ( in and not in )
print(sports)
print('\n')
print("football" in sports)
print("\n")
print("Cricket" not in sports)

['football', 'cricket', 'volleyball', 'carrom', 'ludo', 'chess', 'cricket', 'football', 'hockey']


True


True

# List functions
* len()
* max()
* min()
* sum()
* sorted()
* any()
* all()
* list()

# List methods
* appned()
* extend()
* insert()
* index()
* count()
* remove()
* pop()
* clear()
* reverse()
* sort()

In [36]:
mylist = [2,1.5,1,5,6,10.5,.0999]

#list methods
print(len(mylist))
print(max(mylist))
print(min(mylist))
print(sum(mylist))
print(sorted(mylist))
print(any(mylist))
print(all(mylist))
print(list(mylist))
#print(sorted(mylist,reverse=True)
      
#note : -->> IF All the elements is true in the list it will gives true otherwise false

7
10.5
0.0999
26.0999
[0.0999, 1, 1.5, 2, 5, 6, 10.5]
True
True
[2, 1.5, 1, 5, 6, 10.5, 0.0999]

In [40]:
# 0, 0.0. False, 0+0j these values will be false in python and rest of the value apart from this one will be true.

mylist=[0,1,3,6,983232,66,6]

print(mylist)
print(all(mylist))
print(any(mylist))

[0, 1, 3, 6, 983232, 66, 6]
False
True

In [41]:
mylist=[0,False,0.0,0+0j]

print(mylist)
print(any(mylist))
print(all(mylist))

[0, False, 0.0, 0j]
False
False

In [60]:
# List Function

animals = ["cat","tiger","dog","fox"]
print(animals)
print("\n")
print(len(animals))
print("\n")

animals.append("tiger") # append elements in list
print(animals)
print("\n")

wild_animals = ["tiger", "lion"] # adding list inside list
animals.append(wild_animals)
print(animals)
print("\n")

print(animals+wild_animals) # concanating list
print("\n")

print(animals[1])  # access item in lists
print(animals[1][0])
print("\n")

['cat', 'tiger', 'dog', 'fox']


4


['cat', 'tiger', 'dog', 'fox', 'tiger']


['cat', 'tiger', 'dog', 'fox', 'tiger', ['tiger', 'lion']]


['cat', 'tiger', 'dog', 'fox', 'tiger', ['tiger', 'lion'], 'tiger', 'lion']


tiger
t

In [61]:
animals.extend("rat")
print(animals)
print("\n")

animals.extend(["rat"])
print(animals)
print("\n")

animals[5] = 'cow' # override item in lists
print(animals)

['cat', 'tiger', 'dog', 'fox', 'tiger', ['tiger', 'lion'], 'r', 'a', 't']


['cat', 'tiger', 'dog', 'fox', 'tiger', ['tiger', 'lion'], 'r', 'a', 't', 'rat']


['cat', 'tiger', 'dog', 'fox', 'tiger', 'cow', 'r', 'a', 't', 'rat']

In [70]:
animals = ["cat","tiger","dog","fox","mouse","cat","fox"]
animals.insert(1,"mouse")  # insert(index,value) , not overwrite only insert at the given index
print(animals)
print("\n")

['cat', 'mouse', 'tiger', 'dog', 'fox', 'mouse', 'cat', 'fox']

In [71]:
animals.count("mouse")
print(animals)

['cat', 'mouse', 'tiger', 'dog', 'fox', 'mouse', 'cat', 'fox']

# List comprehension

list_comp=[X for x in iterable <test_condition>] --> list inside list which reduce code and time complexity 
________________________________________________
iterable:
list
tuple
dict
set
string
__________________________________________________

In [4]:
mystring = "i love python"
mylist = []

for i in mystring:
    mylist.append(i)
print(mylist)

['i', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [5]:
mylist = [x for x in mystring] # same above code we can do from list comprehension.
mylist

['i', ' ', 'l', 'o', 'v', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [9]:
#wap to produce squre of numbers from 1 to 5 , store them in a list and print the list.

mylist = []
for i in range(1,6):
    mylist.append(i**2)
print(mylist)
print("\n")

#Same program using List Comprehension
mylist = [x**2 for x in range(1,6)]
print(mylist)

[1, 4, 9, 16, 25]


[1, 4, 9, 16, 25]

In [13]:
# wap to accpet a string from user and covert each word of the gievn string into upper case store it in a list.

my_string = input("Please Enter some string: ")
mylist = []

for i in my_string:
    mylist.append(i.upper())
print(mylist)
print("\n")

# Using List Comprehension
my_list = [x.upper() for x in my_string]
print(mylist)

Please Enter some string: python
['P', 'Y', 'T', 'H', 'O', 'N']


['P', 'Y', 'T', 'H', 'O', 'N']

In [17]:
"Python Programming".split(",")

['Python Programming']

In [22]:
my_string = "Python Programming"
my_list_ = [x.upper() for x in my_string.split()]
print(my_list)

['PYTHON', 'PROGRAMMING']

In [ ]:
#wap to accept 5 int from user and store then in a list, now display the sum of element and the element of list
my_list = []
numbers = input("Enter the numbers: ")
for i in numbers.split():
    my_list.append(int(i))

print(mylist)
print(sum(mylist))