# String

# function in string

* len()

* max()

* min()

* chr()

* ord()

# Methods of the string

* capitalize()

* lower()

* upper()

In [1]:
mystring = """I Love Python Programming"""
print(mystring)

I Love Python Programming

In [5]:
mystring = """I 
Love
Python 
Programming"""

mystring

'I \nLove\nPython \nProgramming'

In [8]:
mystring = " "  # python count space

mystring

' '

In [50]:
mystring = "Python"

print(len(mystring)-1)
print(len(mystring)*2)
print(mystring[2])
print(mystring[1:2])

print(min(mystring))
print(max(mystring))

5
12
t
y
P
y

In [53]:
# Wap to take input from user and print it in reverse order

string = input("Please Enter Some String: ")

for i in range(len(string)-1,-1,-1):
    print(i, end = " ")
    print(string[i])

Please Enter Some String: Python
5 n
4 o
3 h
2 t
1 y
0 P

In [61]:
print(chr(94))
print(ord("a"))

^
97

In [56]:
#concatination
print("python" + "Programming")
print("Python " + "Programming")
print("\n")
#String Multiplication
print("Python"*2)

pythonProgramming
Python Programming


PythonPython

In [32]:
mystring = "Python  Programming Language"

print(" " in mystring )
print("p" not in mystring)

True
True

In [42]:
print("Python" == "python")
print("python" == "python")

print("free"<"tree")

False
True
True

In [65]:
# capitalize( ):Returns a copy of the string with first character capitalized and rest of the characters in lower case.
name="guido van rossum"
print(name)

newname=name.capitalize()
print(newname)

guido van rossum
Guido van rossum

In [68]:
# Returns a copy of the string with all letters converted to lowercase and uppercase respectively
#lower( )
#upper( )

name = "PYthon"
print(name.lower())
print(name.upper())

python
PYTHON

In [69]:
#swapcase():Returns a copy of the string with the case of every character swapped . 
#Means that lowercase characters are changed to uppercase and vice-versa.

mystring ="Python Programming"
mystring.swapcase()

'pYTHON pROGRAMMING'

In [70]:
#title(): Returns a copy of the string converted to proper case or title case. 
#all words begin with uppercase letter and the rest are in lowercase.
mystring ="python programming"
mystring.title()

'Python Programming'

In [74]:
# isalpha( ) : Returns True if the string contains only alphabets ,otherwise returns False
mystring ="python programming"
mystring.isalpha()

False

In [75]:
# isdigit(): Returns True if the string contains only digits , otherwise returns False
mydigit = "12347823231"
mydigit.isdigit()

True

In [76]:
# isalnum(): Returns True if the string contains only alphanumeric characters , otherwise returns False
mystring="python123"
mystring1="python"
mystring2="1232345"
mystring3="python123 programming456"
mystring4="zyrl0$%*"

In [77]:
print(mystring.isalnum())
print(mystring1.isalnum())
print(mystring2.isalnum())
print(mystring3.isalnum())
print(mystring4.isalnum())

True
True
True
False
False

In [78]:
#isspace(): Returns True if the string contains only whitespace characters , otherwise returns False
string = " "
print(string.isspace())

string = ""
print(string.isspace())

True
False

In [79]:
# startswith()  # endswith()

mystring = "Python Programming Language"

print(mystring.startswith("p"))
print(mystring.endswith("e"))

False
True

In [81]:
#index() : Returns the index of first occurrence of a substring inside the string (if found).
#If the substring is not found, it raises an exception.

text = "Hello today is  sunday, and today is holiday"
text.index("sunday")

16

In [82]:
#count(): Returns the number of occurrences of a substring in the given string
text = "Hello this sunday, and today is holiday"
text.count('is')

2

In [83]:
#split() 
"@hello!Python @= Programming@ #" .split("@")

['', 'hello!Python ', '= Programming', ' #']

In [84]:
# join()
"123".join('python')

'p123y123t123h123o123n'

In [85]:
"@".join(['', 'hello!Python ', '= Programming', ' #'])

'@hello!Python @= Programming@ #'

In [88]:
# f-string string interpolation ,  time com complexity is very less
age=10
name="Harry"
print(f"my name is {name} my age is {age}")

my name is Harry my age is 10

In [89]:
# Print max number
x = 10
y =20 
print(f"my first number is {x} my second number is {y} and max number is {max(x,y)}")

my first number is 10 my second number is 20 and max number is 20

In [90]:
x = 10
y = 20
if x > y:
    print(f'max is {x}')
else:
    print(f'max is {y}')

max is 20

In [92]:
x = 10
y = 20
grt = max(x,y)
print(f"max between x and y is {grt}")

max between x and y is 20

# Dictionary

* key:value pair

* dictionary: dict is a collection which holds data in pair(that pair will be in key and value) if i want to connect one piece of info with other piece of info so we always we use dictionary

* dict = {} --> empty dictionary

* syntax of dictionary : 

* dict={ key1:value1,key2:value2, key3:value3,....keyn:valuen}


# Properties

* indexing

* Ordered

* multiple and duplicate values but no dublicate key

* mutable
   
* No concating in dict


# Function for the dict

* len()

* max()

* min()

* any()

* all()

* sorted()

* dict()


# Methods in dictionary

* clear()

* copy()

* setdefault()

* get()

* keys()

* values()

* items()

* updated() 

* pop()

* popitem()

In [93]:
#Dict of int key : 
mydict={1:"apple",2:"banana",3:"mango"}
mydict

{1: 'apple', 2: 'banana', 3: 'mango'}

In [102]:
mydict={"sem1":["c","c++"],"sem2":["java","java script"],"sem3":["python","machine learning"]}

print(mydict, "\n")

print(mydict["sem1"])

{'sem1': ['c', 'c++'], 'sem2': ['java', 'java script'], 'sem3': ['python', 'machine learning']}

['c', 'c++']

In [103]:
for i in mydict:
    print("My key is: ", i)

My key is:  sem1
My key is:  sem2
My key is:  sem3

In [104]:
for i in mydict.keys():
    print("My key is:",i)

My key is: sem1
My key is: sem2
My key is: sem3

In [105]:
for i in mydict.values():
    print("My key is:",i)

My key is: ['c', 'c++']
My key is: ['java', 'java script']
My key is: ['python', 'machine learning']

In [106]:
for i in mydict.items():
    print("My key is:",i)

My key is: ('sem1', ['c', 'c++'])
My key is: ('sem2', ['java', 'java script'])
My key is: ('sem3', ['python', 'machine learning'])

In [107]:
mydict={1:"apple",2:"banana",3:"mango"}
mydict[4] = "litchi"
mydict

{1: 'apple', 2: 'banana', 3: 'mango', 4: 'litchi'}

In [108]:
# if key is not available then it will create new pair if it is avaialble it will be overwrite
mydict = {1: 'apple', 2: 'banana', 3: 'mango', 4: 'litchi'}
mydict.update({5:"carot"})
mydict

{1: 'apple', 2: 'banana', 3: 'mango', 4: 'litchi', 5: 'carot'}

In [109]:
mydict = {1: 'apple', 2: 'banana', 3: 'mango', 4: 'litchi'}
mydict1 = mydict.copy()
mydict1

{1: 'apple', 2: 'banana', 3: 'mango', 4: 'litchi'}

In [111]:
mydict.pop(1)

'apple'

In [112]:
mydict

{2: 'banana', 3: 'mango', 4: 'litchi'}

In [113]:
mydict = {1: 'apple', 2: 'banana', 3: 'mango', 4: 'litchi'}

mydict.popitem()

(4, 'litchi')

In [114]:
#deep copy and shallow copy

cars = {"Maruti":"Ciaz","Hyundai":"Verna","Honda":"Amaze"}
value=cars.setdefault("Hyundai")

In [115]:
value

'Verna'

In [116]:
value=cars.setdefault("Renault")

In [117]:
value

In [118]:
cars

{'Maruti': 'Ciaz', 'Hyundai': 'Verna', 'Honda': 'Amaze', 'Renault': None}

In [119]:
value=cars.setdefault("Renault","duster")

In [120]:
cars["Renault"]="duster"

In [121]:
cars

{'Maruti': 'Ciaz', 'Hyundai': 'Verna', 'Honda': 'Amaze', 'Renault': 'duster'}